.apply {
	background-color: $whiteColor;

	&__header {
		text-align: center;
		padding: 0px 20px 34px;
		font-size: 32px;
	}

	&__header-title {
		font-weight: 500;
		font-size: 24px;
		padding-top: 10px;
		@media (min-width: 992px) {
			font-size: 32px;
		}
	}

	&__body {
		background-color: $pinkBackground;
		padding: 25px 20px;		
	}

	&__body-text {
		font-weight: 500;
		font-size: 20px;
		text-align: center;
		@media (min-width: 992px) {
			font-size: 24px;
		}
	}

	&__form {
		padding-top: 30px;
		max-width: 442px;
		margin: 0 auto;		
	}

	&__form-label {
		display: block;
		font-weight: 500;
		font-size: 20px;
		padding-bottom: 12px;
	}

	&__form-input {
		width: 100%;
		border: 1px solid #1e1e1e;
		border-radius: 4px;
		padding: 6px 12px;
		height: 64px;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.4;
	}

	&__form-button {
		padding-top: 30px;
	}

	&__form-link {
		@include button(70px, 40px);
		width: 100%;
		font-weight: 700;
		font-size: 20px;
	}
}
