.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba($color: $blackColor, $alpha: 0.7);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s ease 0s;

	&.open {
		opacity: 1;
		visibility: visible;
	}
	&.open .popup__content {
		transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
		opacity: 1;
	}

	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__content {
		background-color: $blueBackground;
		color: $blackColor;
		max-width: 100%;
		position: relative;
		transition: all 0.8s ease 0s;
		opacity: 0;
		transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

		@media (min-width: 744px) {
			max-width: 600px;
		}
		@media (min-width: 992px) {
			max-width: 730px;
		}
	}

	&__close {
		width: 22px;
		position: absolute;
		top: 15px;
		right: 15px;
		img {
			width: 100%;
		}
	}
}
.info {
	padding: 50px 39px;	
	&__header {
		text-align: center;
	}

	&__header-title {
		font-weight: 600;
		font-size: 36px;
		@media (min-width: 744px) {
			font-size: 48px;
		}
	}

	&__header-subtitle {
		font-size: 24px;    
		padding: 10px 0px 40px;
		@media (min-width: 744px) {
			font-size: 36px;
		}
	}

	&__header-text {
		font-size: 20px;
		line-height: 1.2;
		@media (min-width: 744px) {
			font-size: 24px;
		}
	}

}
.form {
	padding: 35px 0px 0px;
	&__label {
		font-size: 20px;
		font-weight: 500;
		color: #344054;
		display: block;
		padding-bottom: 10px;
	}

	&__input {
		width: 100%;
		height: 51px;
		font-weight: 500;
		font-size: 15px;
		line-height: 1.3;
		border: 1px solid #1e1e1e;
		border-radius: 4px;
		padding: 10px 12px;

	}

	&__button {
		margin-top: 35px;
		text-align: center;
		&-submit {
			@include button(56px, 87px);
			font-weight: 600;
			font-size: 16px;
		}
	}
}
.close-popup {
	width: 22px;
	img {
		width: 100%;
	}
}

.submit {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba($color: $blackColor, $alpha: 0.7);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s ease 0s;

	&.open {
		opacity: 1;
		visibility: visible;
	}
	&.open .submit__wrapper {
		transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
		opacity: 1;
	}

	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__wrapper {
		background-color: $blueBackground;
		color: $blackColor;
		max-width: 100%;
		position: relative;
		padding: 50px 25px;	
		transition: all 0.8s ease 0s;
		opacity: 0;
		transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

		@media (min-width: 744px) {
			max-width: 600px;
		}
		@media (min-width: 992px) {
			padding: 50px 117px;	
			max-width: 730px;
		}
	}

	&__info {
		text-align: center;
		font-weight: 500;
		font-size: 28px;
		line-height: 1.2;
	}
}
