// Useful reusable items

$fontFamily: "Inter", sans-serif;
$fontSize: 24px;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$darkBlue: #022B47;
$brightBlue: #145A86;
$hoverButton: #1E77AA;
$lightBlue: #ECF7FF;
$pinkBackground: #FCEDEC;
$blueMaximize: #d9eeff;
$greenColor: #00A86B;
$maxWidth: 1440px;
$containerWidth: 1260px;

._container {
	max-width: $containerWidth;
	margin: 0px auto;

}

._maxContainer {
	max-width: $maxWidth;
	margin: 0px auto;
}

._green {
	color: $greenColor;
}

@mixin button($btnHeight, $btnPad) { 
   color: $whiteColor;
   background: $brightBlue;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
	text-transform: uppercase;
   height: $btnHeight;
   padding: 0px $btnPad;
   font-size: 24px;
   font-weight: 800;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
   transition: all 0.3s ease 0s;
      &:hover {
         background: $hoverButton;
         transition: all 0.3s ease 0s;
		}
}




